[defaults]
collections_path = ./collections
roles_path = ./cloud/roles:./vm/roles:./storage/roles:./network/roles:./servers/roles:./common/roles
host_key_checking = False
stdout_callback = yaml
nocows = True

[inventory]
enable_plugins = auto, yaml, ini
